.markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width .cm-line:not(.HyperMD-table-row) {
    max-width: 3000px; /* 默认最大是700px，所以一定要带上，只要比width大就行。 */
    width: 2000px;         /* 怎么舒服怎么来调整 */
}


:root {
	--color-monospace: khaki;
}

.markdown-source-view {
	font-family: var(--font-monospace);
}

code, pre {
	word-wrap: break-word;
	white-space: pre;
	overflow-x: auto;
	font-size: 0.95em;
	line-height: 1.5;
}

.markdown-preview-view code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian span.cm-inline-code {
	color: var(--color-monospace);
	-webkit-font-smoothing: auto;
	font-size: 0.95em;
}

.cm-s-obsidian .HyperMD-codeblock {
	line-height: 1.5;
}